/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  background-color: black;

}
.menu{
  background-color: white;
  position: relative;
  left: 15%;
  padding: 15px;
}
.texto{
  text-transform: uppercase;
  color: white;
  text-align: center;
}
#text1{
  margin-top: 100px;
  font-size: 20px;
}
#text2{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0;
}
#text3 {
  font-size: 14px;
  margin-top: 18px;
}
.link{
  margin-right: 20px;
}
.botoom{
  text-align: center;
  display: inline;
  background-color: green;
  margin: 0 550px;
  padding: 10px;
  position: relative;
  top: 60px;
}
a {
  color: white;
}

img {
  display: inline-block;
  width: 55px;
  vertical-align: middle;
  position: relative;
  left: 50%;
}

.container {
  background-image: url(../assets/images/bg-home.jpg);
  width: 1200px;
  height: 519px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}
.text{
  font-size: 30px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container2{
  background-color: rgb(255,128,128);
  margin-right: 75px;
  margin-left: 75px;
  padding-left: 14px;
  padding-right: 14px;
}
.text-1{
  text-align: center;
  color: white;
}
#title-service{
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 100px;
}
#parrafo{
  font-size: 14px;
  margin-top: 50px;
  line-height: 30px;
}
.logo{
  width: 180px;
}
.text {
  display: inline-block;
  font-size: 16px;
  margin-left: 100px;

}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}
.container3{
  background-color: white;
  margin-right: 75px;
  margin-left: 75px;
  padding-left: 14px;
  padding-right: 14px;
}
.title-work{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}
.parrafo-work{
  text-align: center;
  font-size: 14px;
}
#img-work{
  width: 50%;
  position: relative;
  left: 300px;
  right: 100px;
}
.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

.link {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}


/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
